#recent-blogs {
	max-width:	600px;
	margin:		0 auto;
}

.blog-article-list > li > a {
	font-family:	"EB Garamond", "Twemoji", serif;
	font-size:		large;
	font-weight:	500;
}

.blog-article-list > li > a > b {
	font-family:	"DejaVu Sans Mono", "Twemoji", serif;
	font-size:		smaller;
}

.footer-page-turner {
	width:			50%;
	margin-bottom:	0.5lh;
}

.footer-page-turner.fleft {
	text-align:	left;
}

.footer-page-turner.fright {
	text-align:	right;
}