/*
 * AUTHOR: toydotgame
 * CREATED: 2025-10-06
 * v6 site redesign stylesheet. Contains snippets etc from the v5 main.css
 * (created 2023-12-16).
 * THE CASCADE ORDER is used as follows:
 * 1. Generally global base styles
 * 2. Content/specific styles
 * 3. Header/footer/other styles to override content-specific styles for similar
 *    elements
 */

/*
 * GLOBAL STYLES
 */

@import url("/media/resources/styles/syntax.css");

@font-face {
	font-family:	"Ubuntu";
	src:			local("Ubuntu Sans"),
					url("/media/resources/fonts/Ubuntu Sans Variable.ttf");
	font-display:	swap;
	/* `font-style`s `normal` _and_ `italic` are included */
	font-weight:	100 800;
} @font-face {
	/*
	 * DejaVu Sans Mono is an incredibly static font, it has no italic face, and
	 * its oblique and bold faces are static transformations. We can get away
	 * with letting the browser create the oblique face on-the-fly, but IMO it
	 * looks better to use the static bold face file instead of making it up.
	 */
	font-family:	"DejaVu Sans Mono";
	src:			local("DejaVu Sans Mono Book"),
					url("/media/resources/fonts/DejaVu Sans Mono Regular.ttf");
	font-display:	swap;
	font-weight:	normal;
} @font-face {
	font-family:	"DejaVu Sans Mono";
	src:			local("DejaVu Sans Mono Bold"),
					url("/media/resources/fonts/DejaVu Sans Mono Bold.ttf");
	font-display:	swap;
	font-weight:	bold;
} @font-face {
	font-family:	"EB Garamond";
	src:			local("EB Garamond"),
					url("/media/resources/fonts/EB Garamond Variable.ttf"),
					local("Garamond");
	font-display:	swap;
	font-style:		normal;
	font-weight:	400 800;
} @font-face {
	font-family:	"EB Garamond";
	src:			local("EB Garamond"),
					url("/media/resources/fonts/EB Garamond Variable Italic.ttf"),
					local("Garamond");
	font-display:	swap;
	font-style:		italic;
	font-weight:	400 800;
} @font-face {
	font-family:	"Silkscreen";
	src:			local("Silkscreen"),
					url("/media/resources/fonts/Silkscreen Regular.ttf");
	font-display:	swap;
	/*
	 * NOTE FOR THE FUTURE: If you ever wanna use the bold face, add the TTF for
	 * it. DO NOT let the browser do it because EW.
	 */
} @font-face {
	font-family:	"Twemoji";
	src:			url("/media/resources/fonts/Twemoji.ttf");
	font-display:	swap;
}

:root {
	--accent:		#ac94b5;
	--secondary:	#c8c8c8;
	--link:			#5865f2;
	--text:			#fff;
	--bg1:			#1c1c1c;
	--bg2:			#2a2a2f;

	--heading-size-multiplier: 1.25;

	/* --aero-shine is of type `background-image` */
	--aero-shine: linear-gradient(61deg, /* sic */
		#fff0		0%,
		#ffffff28	5%,
		#fff0		7.2%,
		#ffffff1e	10.5%,
		#fff0		11.6%	16%,
		#ffffff28	17.6%,
		#ffffff22	22.2%,
		#fff0		24%		37%,
		#ffffff28	44.7%	48%,
		#fff0		53.7%,
		#ffffff28	55.2%	55.7%,
		#fff0		59.7%,
		#ffffff28	61.4%	64.4%,
		#ffffff22	67.5%,
		#fff0		70%		78.5%,
		#ffffff1e	80.8%,
		#fff0		82.5%,
		#ffffff1e	85.3%	86.3%,
		#fff0		94.6%
	);
	/* --aero is of type `background` */
	--aero: linear-gradient(
			#ccc2	0,
			#cccc	calc(25% + 30px),
			#ccc0	calc(26% + 30px)
		),
		hsl(from var(--accent) h calc(s + 67) calc(l - 30) / 40%) /* Glass colour */
		var(--aero-shine)
		0 0 / 100svw 100svh fixed; /* Absolute to viewport */

	scrollbar-color:	var(--accent) var(--bg1);
}

*, ::before, ::after {
	margin:				0;
	padding:			0;
	box-sizing:			border-box;
	scrollbar-width:	thin; /* Baseline 2023 excludes Safari support, but they
						         use overlay scrollbars so idc. Doesn't cascade
						         well from :root like scrollbar-color does */
}

body {
	/*
	 * ABOUT SPACING:
	 * - Window borders and content padding are 8px wide
	 * - Spacing between windows are 8 px wide
	 * - Window titles are 22px high (text), therefore 30px incl. the top border
	 * Therefore:
	 * - Page padding is 16px (border+spacing)
	 * - Flex gap is 46px (border+title (incl. top border)+spacing)
	 * 	- Page padding top is 48px (title (incl. top border)+spacing)
	 * 
	 * This applies to the positioning of the flex items (container is `body`)
	 * and is based on the values in their ::before and ::after pseudo-elements.
	 */
	min-height:			100svh; /* Baseline 2023; fix for Safari UI */
	display:			flex;
		flex-direction:		column;
		justify-content:	flex-start;
		align-items:		center;
		gap:				46px;
	padding:			16px;
		padding-top:	38px;

	color:				var(--text);
	background:			url("/media/resources/card/background.jpg") center bottom / cover fixed,
	           			linear-gradient(var(--bg2), var(--bg1));
	font-family:		"Ubuntu", "Twemoji", sans-serif;
		font-weight:	475;
	word-break:			break-word;
}

.hidden {
	display:	none;
}

/*
 * AERO SECTIONS
 */

body > * {
	width:			100%;
		max-width:	800px;
	padding:		8px;
	position:		relative; /* So ::before and ::after can inherit */
	background:		linear-gradient(var(--bg2), var(--bg1)) fixed;
	border-radius:	0.5px;
	box-shadow:		0 0 0 1px #0008, /* Box shadow outset, overlaps with Aero glass */
					0 0 0 2px #f0f0f080;
}

body > *::before { /* Decoration for sections */
	content:	attr(data-aero-title);
	width:		calc(100% + 16px);
		max-width:	calc(100vw - 16px);
	height:		calc(100% + 38px);
	position:	absolute;
		top:		-30px;
		left:		-8px;
		z-index:	-1;
	
	/* Title text: */
	padding:			5px 64px 0 32px; /* Nominally 4px top but Frutiger.tff
						                    is iffy and needs an extra pixel */
	text-shadow:		0 0 6px #fff;
	overflow:			hidden;
	color:				#000;
	white-space:		nowrap;
	text-overflow:		ellipsis;
	
	background:			var(--aero-icon, url("/favicon.ico")) 8px 5px / 20px no-repeat,
						var(--aero);
	border-radius:		6px;
	backdrop-filter:	blur(8px);
	box-shadow:			0 0 0 1px	#000	inset,
						0 0 0 2px	#f0f0f0	inset,
						4px 4px 12px #000c; /* Aero window shadow */
}

header::before {
	width:		calc(100% + 4px);
	left:		-2px;
	text-align:	left;
}

body > *::after { /* "Close button" decoration for sections */
	content:			"x";
	width:				44px;
	height:				16px;
	position:			absolute;
		top:	-28px;
		right:	0;
	border-radius:		0 0 2px 2px;
	color:				#fff;
		-webkit-text-stroke: 0.5px #535666c0;
	font-size:			18px;
	line-height:		0.8;
	text-align:			center;
	font-weight:		bolder;
	cursor:				not-allowed;
	box-shadow:			0 0 0 1px #f0f0f0,
						0 0 0 2px #000;
	background-image:	linear-gradient(#eee5 0, #fff6 48%, #1111 52%, #ff85 100%),
						radial-gradient(#db582c 0, #a34329 100%);
	opacity:			65%;
}

header::after {
	right:	6px;
}

/* Viewport too small to display text without colliding with close button: */
@media only screen and (max-width: 158px) {
	body > *::before {
		padding:	5px 8px 0 8px;
		background:	var(--aero); /* Remove icon */
	}

	body > *::after {
		display:	none;
	}
}

/* Viewport too small to comfortably fit any section title text: */
@media only screen and (max-width: 78px) {
	body > *::before {
		content:	"";
		height:		calc(100% + 16px);
		top:		-8px;
		padding:	0;
	}

	body {
		padding-top:	16px;
		gap:			24px;
	}
}

/*
 * SECTIONS
 */

/* NAV */
header {
	width:			calc(100% + 12px);
		max-width:	812px;
	padding:		8px 14px;
	background:		linear-gradient(rgba(from var(--bg2) r g b / 50%),
					rgba(from var(--bg1) r g b / 50%)) fixed;
	border-radius:	0;
	box-shadow:		0 -1px	#f0f0f080,
					0 -2px	#0008,
					0 1px	#0008,
					0 2px	#f0f0f080;
	
	text-align:		center;
	user-select:	none;
}

header h1 {
	min-height:		50px;
	/* Leave line-height unspecified such that img inline can inherit auto 1lh */
	font-size:		min(48px, 10cqw); /* 10cqw is arbitrary as hell */
	font-family:	"Silkscreen", monospace;
	font-weight:	normal;
	letter-spacing:	-0.15em;
	filter:			drop-shadow(2px 2px 4px #0008);
}

header h1 img {
	height:				1lh;
	margin-right:		0.25em;
	vertical-align: 	top; /* Since we match the image and text's heights */
	border-radius:		4px;
	image-rendering:	pixelated;
}

@media only screen and (max-width: 304px) {
	header h1 img {
		display:	none;
	}
}

nav {
	display:		flex;
		flex-wrap:	wrap;
	/* Margin below means width is 100% of what we "expect:" */
	margin:			8px -8px -8px -8px;
	padding-top:	2px;
	overflow:		hidden;
}

nav a {
	--border:	hsl(from var(--accent) h 5% 56%);
	--tab-tint:	#fff;
	--tab-aero:	linear-gradient(
					rgb(from var(--tab-tint) r g b / 18.8%) 0,
					rgb(from var(--tab-tint) r g b / 13.3%) 34.8%,
					rgb(from var(--tab-tint) r g b / 07.8%) 39.1%,
					rgb(from var(--tab-tint) r g b / 05.0%) 100%
				);

	margin-bottom:		-1px;
	/* 4px hor./1px ver. padding + 1/2px around for inset "borders:" */
	padding:			3px 6px 2px 6px;
	flex:				min-content;
	overflow:			hidden;
	color:				var(--accent);
	background:			var(--bg2) var(--tab-aero);
	box-shadow:		0 0	0 1px	var(--border)	inset,
						0 2px	var(--bg2)		inset,
						2px 0	var(--bg2)		inset,
						-2px 0	var(--bg2)		inset;
	white-space:		nowrap;
	text-align:			left; /* Revert `header` style */
	text-decoration:	none;
}

nav a:not(.active):hover {
	color:			hsl(from var(--link) h calc(0.75*s) calc(l + 5));
	background:		hsl(from var(--accent) h s calc(0.5*l)) var(--tab-aero);
	box-shadow:		0 -1px	var(--border) inset,
					0 1px	hsl(from var(--accent) h s 46%) inset,
					1px 0	hsl(from var(--accent) h s 46%) inset,
					-1px 0	hsl(from var(--accent) h s 46%) inset,
					0 2px	hsl(from var(--accent) h 76% 17%) inset,
					2px 0	hsl(from var(--accent) h 76% 17%) inset,
					-2px 0	hsl(from var(--accent) h 76% 17%) inset;
	text-shadow:	0 0 2px rgb(from var(--accent) r g b / 25%);
}

nav .active {
	/* Make 2px taller and let that extra height overlap with above rows: */
	margin-top:		-2px;
	padding-top:	5px;
	color:			var(--text);
	background:		var(--bg2);
	box-shadow:		0 1px	var(--border) inset,
					1px 0	var(--border) inset,
					-1px 0	var(--border) inset;
}

/* CONTENT */
article {
	line-height:	1.5;
}

h1 { font-size: calc(var(--heading-size-multiplier)*2em); }
h2 { font-size: calc(var(--heading-size-multiplier)*1.5em); }
h3 { font-size: calc(var(--heading-size-multiplier)*1.17em); }
h4 { font-size: calc(var(--heading-size-multiplier)*1em); }
h5 { font-size: calc(var(--heading-size-multiplier)*0.83em); }
h6 { font-size: calc(var(--heading-size-multiplier)*0.67em); }

h1, h2, h3, h4, h5, h6 {
	margin-top:		0.5rlh; /* Same gap as the `p` spacing, where this collapses
					         anyway. But for a non-`p` predecessor, make sure
					         that we have a gap */
	clear:			both;
	color:			var(--accent);
	font-family:	"EB Garamond", "Twemoji", serif;
}

article h1:first-child, header h1 {
	margin-top:	unset;
}

article h1 {
	font-style:	italic;
}

article h1, article h2 {
	/* Make line height exclude descent (1em) then add 3px gap between text and underline: */
	line-height:	calc(1em + 5px);
	margin-bottom:	5px;
	border-bottom:	1px solid var(--accent);
	text-shadow:	0 0 4px #000c; /* Kinda looks mid when overlapping the border
					                 -bottom, so this is the best we got :/ */
}

h4, h5, h6, .subtitle {
	color:	var(--secondary);
}

.subtitle {
	font-size:	smaller;
}

/*
 * Paragraph spacing: Jekyll (thankfully) wraps things like images etc in <p>
 * tags. Exceptions include: <pre>, <ol>, <ul>, <dl>; I chose not to add spacing
 * to lists because they often may be written as a part of a paragraph rather
 * than their own block. <figure>s get a margin top to align with any <p>s
 * wrapping around it (and their margin-top).
 */
article p, pre, figure, table {
	margin-top:	0.5lh; /* Not using rlh because I want normal p spacing to
					          scale with text */
}
/* Use :is() for a small specificity boost: */
:is(article h1, h2) + :where(article p, pre), .footnotes p {
	margin-top:	unset;
}

b:not(.subtitle b):not(a b), strong:not(a strong) {
	color:			var(--accent);
	font-weight:	800;
}

a {
	color:				var(--link);
	text-decoration:	none;
}

a:hover {
	text-decoration:	underline;
}

a.external::after {
	content:			"";
	display:			inline-block;
	width:				1em;
	height:				1em;
	margin-left:		0.125em;
	background-color:	var(--link);
	clip-path:			path("M6 1h5v5L8.86 3.85 4.7 8 4 7.3l4.15-4.16zM2 3h2v1H2v6h6V8h1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1");
	vertical-align:		middle;
}

a.noexternal::after {
	display:	none;
}

sup, sub {
	font-size:	0.65em;
}

/* Fix sup/sub from affecting this line's height: */
sup {
	vertical-align:	top;
} sub {
	vertical-align:	bottom;
}

u, s, del, abbr {
	text-decoration-thickness:	1.5px; /* Seems to be the default, but not for everything */
	text-decoration-color:		var(--accent);
}

abbr {
	text-decoration-line:	underline;
	text-decoration-style:	dotted;
	cursor:					help;
}

abbr:has(code), code abbr {
	text-decoration-style:	dashed;
}

small {
	color:	var(--secondary);
}

code, pre { /* Jekyll's <pre>s contain <code> tags for the text, but better to
               be safe in case we ever want to manually type one in markup */
	font-family:	"DejaVu Sans Mono", "Twemoji", monospace;
}

code:not(pre code) { /* Thanks Jekyll for putting <code> in <pre>s when not needed */
	padding:	0 4px;
	background-color:	var(--bg1);
	border:		1px solid rgb(from var(--secondary) r g b / 40%);
		border-radius:	4px;
}

code:not(pre code), u:has(code), abbr:has(code) {
	text-underline-offset:	3.5px; /* Add 4px padding from `code` style - 1.5px
							          text-decoration-thickness + 1px browser
							          idk */
}

.footnote::before {
	content:	"[";
} .footnote, .reversefootnote {
	text-decoration:	none;
} .footnote::after {
	content:	"]";
}

/* CONTENT: Block elements */
article img {
	/*
	 * Images display weirdly (using a `font-size`d gap around them) because
	 * they're default `inline` elements. I'd rather have them be blocks and if
	 * I want to display one inline, I will manually do so case-by-case.
	 * This fixes gaps for `figure img`s etc.
	 */
	display:		block;
	max-width:		100%;
	border-radius:	8px;
	outline:		2px outset var(--accent);
	cursor:			zoom-in;
}

article img:not(figure img) {
	padding:		8px;
	border-radius:	16px; /* _Looks_ like 8px given border-radius is applied to padding */
	outline-offset:	-8px;
}

article img:not([width]) {
	min-width:	min(200px, 100%); /* Prevent min-width overriding max-width */
}

.fleft {
	float:	left;
}

.fcenter {
	margin:	0 auto;
}

.fright {
	float:	right;
}

figure {
	/* Copy of `article img`'s behaviour: */
	max-width:	100%;
	padding:	8px 16px; /* Similar display to `article img:not(figure img)` */
}

figure.fleft {
	padding-left:	8px;
}

figure.fright {
	padding-right:	8px;
}

/* Once the viewport gets itty bitty, we start disrespecting intended widths: */
@media only screen and (max-width: 400px) {
	figure, article img {
		min-width:	50%;
	}

	figcaption {
		font-size:		0.6em;
		line-height:	1;
	}
}

/*
 * As a consequence of allowing un-width-specified images to be the file's real
 * size, we need to make sure they _don't_ do this when in a figure.
 */
figure img {
	width:	100%;
}

figcaption {
	margin-top:		8px;
	text-align:		center;
	font-size:		smaller;
	color:			var(--secondary);
	line-height:	1.125;
}

.highlight, pre {
	clear:	both;
}

pre { /* syntax.css' specificity will override the properties here if applicable */
	max-height:			75vh; /* Any more lines and you get a vert. scrollbar */
	padding:			8px;
	overflow:			auto; /* Implies max-width: 100% */
	background:			linear-gradient(#0000 50%, #0001 50%)
							8px 8px / 1px 2lh local; /* 1px width is arbitrary */
		background-color:	var(--bg1);
	border:				2px outset var(--accent); /* Same as `article img` */
		border-radius:	8px;
	tab-size:			4;
}

table, mjx-container {
	overflow-x:	auto;
}

/*table { /* Vaguely hacky */
/*	display: inline-block; /* Dynamic width, like `display: table`, but `block` enough to allow setting an overflow */
/*	line-height: initial;
}

table thead, table tbody {
	display: table;
	width: 100%;
}
*/

table {
	display:	inline-block; /* Allow `overflow: auto` whilst ensuring columns
				                 span to fill the table's full width */
	max-width:	100%;
	word-break:	normal; /* Prevent above-defined default that allows breaking
				           words. We have the horizontal real estate */
}

table + table {
	margin-top:	0.25lh; /* -0.25lh (relative to normal) that magically appears */
}

table, th, td {
	border:		1px solid var(--accent);
}

th, td {
	padding:	0.1em 0.4em;
}

th {
	text-align:			center;
	background-color:	rgb(from var(--accent) r g b / 40%);
}

th[colspan] {
	font-size:		calc(var(--heading-size-multiplier)*1.17em); /* h3 size */
	font-family:	"EB Garamond", "Twemoji", serif;
}

tr:nth-child(even):not(:has(th)) {
	background-color:	rgb(from var(--accent) r g b / 10%);
}

.tnum {
	text-align: right;
	font-family: "DejaVu Sans Mono", "Twemoji", monospace;
}

ol, ul, dl {
	display:		table; /* Plays nicer with floats (`inline-block`-like),
					          whilst also forcing a `block`-like flow */
	padding-left:	1em; /* Bodge but fine */
}

.task-list {
	list-style-type:	none;
}

li::marker {
	color:	var(--accent);
}

input.task-list-item-checkbox {
	/* Instead of fighting to properly remove the ::marker, just cover it: */
	position:		relative;
		left:	-1em;
	margin-right:	-0.5em; /* Adjust so text indent is right*/

	appearance:		none; /* Remove browser styles */
		border-radius:	0; /* Of course Safari doesn't respect it though */
	width:			12px; /* SVG in ::before will need updating if size changes */
	height:			12px;
	vertical-align:	middle;
	cursor:			not-allowed;

	--tint:				var(--bg1);
	background-color:	hsl(from var(--tint) h s 40%);
	box-shadow:			0 0 0 1px	#e8e8e82b,
						0 0 0 2px	#e8e8e859,
						0 0 0 3px	#e8e8e842,
						2px 2px 0.1em	#e8e8e815 inset,
						-1px -1px 0.1em	#e8e8e867 inset,
						0 0 0 3px hsl(from var(--tint) h s 25%);
}

/* Make non-`task-list-item` `li`s' text align with checkbox'ed siblings: */
li.task-list-item:not(:has(> .task-list-item-checkbox)) {
	padding-left:		0.35em;
	list-style-type:	"⁃";
}

input.task-list-item-checkbox[checked="checked"] {
	--tint:	var(--accent);
}

input.task-list-item-checkbox[checked="checked"]::before {
	content:	"";

	display:			block;
	width:				100%;
	height:				100%;
	background-color:	var(--secondary);
	clip-path:			path("M2.1 6.2c.8 0 .4 0 1.6 1.2.8.8.4.8 1.6-.8l3.2-4.8c.8-1.6 1.6-.8 1.6-.8.8.8 0 1.6-.4 2.4L5.3 10.2s-.8.8-1.6 0L1.3 7.6C1.3 6.2 2.1 6.2 2.1 6.2Z");
	filter:				drop-shadow(1px 1px 2px #000);
}

/*
 * List levels: We specify using `>` because I want this cycle to reset if you
 * embedded an <ol> in an <ul>, and vice versa.
 */
ol > li > ol						{ list-style-type: lower-alpha; }
ol > li > ol > li > ol				{ list-style-type: lower-roman; }
ol > li > ol > li > ol
	> li > ol						{ list-style-type: upper-alpha; }
ol > li > ol > li > ol
	> li > ol > li > ol				{ list-style-type: upper-roman; }
ol > li > ol > li > ol
	> li > ol > li > ol > li > ol	{ list-style-type: decimal; } /* Unset for any more */
/* Browsers do the first 3 levels of <ul>s: */
ul > li > ul > li > ul
	> li > ul			{ list-style-type: "⁃  "; }
ul > li > ul > li > ul
	> li > ul > li > ul	{ list-style-type: "□  "; }
ul > li > ul > li > ul
	> li > ul > li > ul
	> li > ul			{ list-style-type: "‣  "; }
ul > li > ul > li > ul
	> li > ul > li > ul
	> li > ul > li > ul	{ list-style-type: disc; } /* Unset for any more */

hr {
	clear:	both;
	height:	3px;
	margin:	12px 0;
	border:	1px solid var(--accent);
}

.footnotes::before {
	content: "Reference list";
	display: block;
	column-span: all; /* Heading full width of reflist */
	
	/* Copy all the styles that apply to normal `h2`s: */
	color:			var(--accent);
	font-family:	"EB Garamond", "Twemoji", serif;
	font-size:		calc(var(--heading-size-multiplier)*1.5em);
	font-weight:	bold; /* And also this initial value */
	line-height:	calc(1em + 5px);
	margin:			0.5rlh 0 5px 0;
	border-bottom:	1px solid var(--accent);
	text-shadow:	0 0 4px #000c;
}

.footnotes {
	clear:			both;
	column-count:	2;
}

.footnotes li {
	margin-left:	1.5em; /* Looks fine for 1–99 refs */
	padding-bottom:	8px;
	font-size:		small;
	break-inside:	avoid; /* Don't chop items across columns */
}

/* FOOTER */
footer {
	margin-top:	auto; /* Sticky to bottom if body height < 100 vh */
}

/* IMAGE MODAL */
#modaldim {
	position:			fixed;
		top:	0;
	width:				100%;
	height:				100%;
	padding:			7.5% 10%;
	background:			rgb(from #000 r g b / 40%) var(--aero-shine);
	backdrop-filter:	blur(8px);
	cursor:				zoom-out;

	/* Unset the specific Aero section styles not needed: */
	max-width:		unset;
	border-radius:	unset;
	box-shadow:		unset;
}

/* Unset Aero section styles: */
#modaldim::before, #modaldim::after {
	display:	none;
}

body:has(#modaldim:not(.hidden)) {
	overflow:	hidden;
}

#modaldim img {	
	width:				100%;
	height:				100%;
	object-fit:			contain;
	filter:				drop-shadow(8px 8px 8px var(--bg1));
	user-select:		none;
		-webkit-user-select:	none; /* Safari */
}
