/*
 * AUTHOR: toydotgame
 * CREATED: 2025-10-06
 * v6 site redesign stylesheet. Contains snippets etc from the v5 main.css
 * (created 2023-12-16).
 * THE CASCADE ORDER is used as follows:
 * 1. Generally global base styles
 * 2. Content/specific styles
 * 3. Header/footer/other styles to override content-specific styles for similar
 *    elements
 */

/*
 * GLOBAL STYLES
 */

@font-face {
	font-family:	"Ubuntu";
	src:			local("Ubuntu Sans"),
					url("/media/resources/fonts/Ubuntu Sans Variable.ttf");
	font-display:	swap;
	/* `font-style`s `normal` _and_ `italic` are included */
	font-weight:	100 800;
} @font-face {
	/*
	 * DejaVu Sans Mono is an incredibly static font, it has no italic face, and
	 * its oblique and bold faces are static transformations. We can get away
	 * with letting the browser create the oblique face on-the-fly, but IMO it
	 * looks better to use the static bold face file instead of making it up.
	 */
	font-family:	"DejaVu Sans Mono";
	src:			local("DejaVu Sans Mono"), local("DejaVu Sans Mono Book"),
					url("/media/resources/fonts/DejaVu Sans Mono Regular.ttf");
	font-display:	swap;
	font-weight:	normal;
} @font-face {
	font-family:	"DejaVu Sans Mono";
	src:			local("DejaVu Sans Mono"), local("DejaVu Sans Mono Book"),
					url("/media/resources/fonts/DejaVu Sans Mono Bold.ttf");
	font-display:	swap;
	font-weight:	bold;
} @font-face {
	font-family:	"EB Garamond";
	src:			local("EB Garamond"),
					url("/media/resources/fonts/EB Garamond Variable.ttf"),
					local("Garamond");
	font-display:	swap;
	font-style:		normal;
	font-weight:	400 800;
} @font-face {
	font-family:	"EB Garamond";
	src:			local("EB Garamond"),
					url("/media/resources/fonts/EB Garamond Variable Italic.ttf"),
					local("Garamond");
	font-display:	swap;
	font-style:		italic;
	font-weight:	400 800;
} @font-face {
	font-family:	"Silkscreen";
	src:			local("Silkscreen"),
					url("/media/resources/fonts/Silkscreen Regular.ttf");
	font-display:	swap;
	/*
	 * NOTE FOR THE FUTURE: If you ever wanna use the bold face, add the TTF for
	 * it. DO NOT let the browser do it because EW.
	 */
} @font-face {
	font-family:	"Twemoji";
	src:			url("/media/resources/fonts/Twemoji.ttf");
	font-display:	swap;
}

:root {
	--accent:		#b29abb;
	--secondary:	#c8c8c8;
	--link:			#5865f2;
	--text:			#fff;
	--bg1:			#1c1c1c;
	--bg2:			#2a2a2f;

	--heading-size-multiplier: 1.25;

	--aero: linear-gradient(
			#ccc2	0,
			#cccc	calc(25% + 30px),
			#ccc0	calc(26% + 30px)
		),
		hsl(from var(--accent) h calc(s + 67) calc(l - 30) / 40%) /* Glass colour */
		linear-gradient(44deg, /* sic */
			#fff0		0%,
			#ffffff28	5%,
			#fff0		7.2%,
			#ffffff1e	10.5%,
			#fff0		11.6%	16%,
			#ffffff28	17.6%,
			#ffffff22	22.2%,
			#fff0		24%		37%,
			#ffffff28	44.7%	48%,
			#fff0		53.7%,
			#ffffff28	55.2%	55.7%,
			#fff0		59.7%,
			#ffffff28	61.4%	64.4%,
			#ffffff22	67.5%,
			#fff0		70%		78.5%,
			#ffffff1e	80.8%,
			#fff0		82.5%,
			#ffffff1e	85.3%	86.3%,
			#fff0		94.6%
		) 0 0 / 100svw 100svh fixed; /* Absolute to viewport */
}

*, ::before, ::after {
	margin:			0;
	padding:		0;
	box-sizing:		border-box;
}

body {
	/*
	 * ABOUT SPACING:
	 * - Window borders and content padding are 8px wide
	 * - Spacing between windows are 8 px wide
	 * - Window titles are 22px high (text), therefore 30px incl. the top border
	 * Therefore:
	 * - Page padding is 16px (border+spacing)
	 * - Flex gap is 46px (border+title (incl. top border)+spacing)
	 * 	- Page padding top is 48px (title (incl. top border)+spacing)
	 * 
	 * This applies to the positioning of the flex items (container is `body`)
	 * and is based on the values in their ::before and ::after pseudo-elements.
	 */
	min-height:			100svh; /* Baseline 2023; fix for Safari UI */
	display:			flex;
		flex-direction:		column;
		justify-content:	flex-start;
		align-items:		center;
		gap:				46px;
	padding:			16px;
		padding-top:	38px;

	color:				var(--text);
	background:			url("/media/resources/card/background.jpg") center bottom / cover fixed,
	           			linear-gradient(var(--bg2), var(--bg1));
	font-family:		"Ubuntu", "Twemoji", sans-serif;
		font-weight:	475;
	word-break:			break-word;
}

/*
 * AERO SECTIONS
 */

body > * {
	width:			100%;
		max-width:	800px;
	padding:		8px;
	position:		relative; /* So ::before and ::after can inherit */
	background:		linear-gradient(var(--bg2), var(--bg1)) fixed;
	border-radius:	0.5px;
	box-shadow:		0 0 0 1px #0008, /* Box shadow outset, overlaps with Aero glass */
					0 0 0 2px #f0f0f080;
}

body > *::before { /* Decoration for sections */
	content:	attr(data-aero-title);
	width:		calc(100% + 16px);
		max-width:	calc(100vw - 16px);
	height:		calc(100% + 38px);
	position:	absolute;
		top:		-30px;
		left:		-8px;
		z-index:	-1;
	
	/* Title text: */
	padding:			5px 64px 0 32px; /* Nominally 4px top but Frutiger.tff
						                    is iffy and needs an extra pixel */
	text-shadow:		0 0 6px #fff;
	overflow:			hidden;
	color:				#000;
	white-space:		nowrap;
	text-overflow:		ellipsis;
	
	background:			var(--aero-icon, url("/favicon.ico")) 8px 5px / 20px no-repeat,
						var(--aero);
	border-radius:		6px;
	backdrop-filter:	blur(8px);
	box-shadow:			0 0 0 1px	#000	inset,
						0 0 0 2px	#f0f0f0	inset,
						4px 4px 12px #000c; /* Aero window shadow */
}

nav::before {
	width:		calc(100% + 4px);
	left:		-2px;
	text-align:	left;
}

body > *::after { /* "Close button" decoration for sections */
	content:			"x";
	width:				44px;
	height:				16px;
	position:			absolute;
		top:	-28px;
		right:	0;
	border-radius:		0 0 2px 2px;
	color:				#fff;
		-webkit-text-stroke: 0.5px #535666c0;
	font-size:			18px;
	line-height:		0.8;
	text-align:			center;
	font-weight:		bolder;
	cursor:				not-allowed;
	box-shadow:			0 0 0 1px #f0f0f0,
						0 0 0 2px #000;
	background-image:	linear-gradient(#eee5 0, #fff6 48%, #1111 52%, #ff85 100%),
						radial-gradient(#db582c 0, #a34329 100%);
	opacity:			65%;
}

nav::after {
	right:	6px;
}

/* Viewport too small to display text without colliding with close button: */
@media only screen and (max-width: 158px) {
	body > *::before {
		padding:	5px 8px 0 8px;
		background:	var(--aero); /* Remove icon */
	}

	body > *::after {
		display:	none;
	}
}

/* Viewport too small to comfortably fit any section title text: */
@media only screen and (max-width: 78px) {
	body > *::before {
		content:	"";
		height:		calc(100% + 16px);
		top:		-8px;
		padding:	0;
	}

	body {
		padding-top:	16px;
		gap:			24px;
	}
}

/*
 * SECTIONS
 */

/* NAV */
nav {
	width:			calc(100% + 12px);
		max-width:	812px;
	padding:		8px 14px;
	background:		linear-gradient(rgba(from var(--bg2) r g b / 50%), rgba(from var(--bg1) r g b / 50%)) fixed;
	border-radius:	0;
	box-shadow:		0 -1px	#f0f0f080,
					0 -2px	#0008,
					0 1px	#0008,
					0 2px	#f0f0f080;
	
	text-align:		center;
	user-select:	none;
}

nav h1 {
	min-height:		50px;
	/* Leave line-height unspecified such that img inline can inherit auto 1lh */
	font-size:		min(48px, 10cqw); /* 10cqw is arbitrary as hell */
	font-family:	"Silkscreen", monospace;
	font-weight:	normal;
	letter-spacing:	-0.15em;
	filter:			drop-shadow(2px 2px 4px #0008);
}

nav h1 img {
	height:				1lh;
	margin-right:		0.25em;
	vertical-align: 	top; /* Since we match the image and text's heights */
	border-radius:		4px;
	image-rendering:	pixelated;
}

@media only screen and (max-width: 304px) {
	nav h1 img {
		display:	none;
	}
}

#navtabs {
	display:		flex;
		flex-wrap:	wrap;
	/* Margin below means width is 100% of what we "expect:" */
	margin:			8px -8px -8px -8px;
	padding-top:	2px;
	overflow:		hidden;
}

#navtabs a {
	--border:	hsl(from var(--accent) h 5% 56%);
	--tab-aero:	linear-gradient(
					#f2f2f220 0,
					#ebebeb20 33.3%,
					#dddddd20 33.3%,
					#cfcfcf20 100%
				);

	margin-bottom:		-1px;
	/* 4px hor./1px ver. padding + 1/2px around for inset "borders:" */
	padding:			3px 6px 2px 6px;
	flex:				min-content;
	overflow:			hidden;
	color:				var(--accent);
	background:			var(--bg2) var(--tab-aero);
	box-shadow:		0 0	0 1px	var(--border)	inset,
						0 2px	var(--bg2)		inset,
						2px 0	var(--bg2)		inset,
						-2px 0	var(--bg2)		inset;
	white-space:		nowrap;
	text-align:			left; /* Revert `nav` style */
	text-decoration:	none;
}

#navtabs a:not(.active):hover {
	color:			hsl(from var(--link) h calc(0.75*s) calc(l + 10));
	background:		var(--bg2)
					linear-gradient(
						hsl(from var(--accent) h 83% 95% / 25%) 0,
						hsl(from var(--accent) h 85% 92% / 25%) 33.3%,
						hsl(from var(--accent) h 94% 87% / 25%) 33.3%,
						hsl(from var(--accent) h 80% 81% / 25%) 100%
					);
	box-shadow:		0 -1px	var(--border) inset,
					0 1px	hsl(from var(--accent) h 49% 46%) inset,
					1px 0	hsl(from var(--accent) h 49% 46%) inset,
					-1px 0	hsl(from var(--accent) h 49% 46%) inset,
					0 2px	hsl(from var(--accent) h 76% 17%) inset,
					2px 0	hsl(from var(--accent) h 76% 17%) inset,
					-2px 0	hsl(from var(--accent) h 76% 17%) inset;
	text-shadow:	0 0 2px rgb(from var(--accent) r g b / 25%);
}

#navtabs .active {
	/* Make 2px taller and let that extra height overlap with above rows: */
	margin-top:		-2px;
	padding-top:	5px;
	color:			var(--text);
	background:		var(--bg1) var(--tab-aero);
	box-shadow:		0 1px	var(--border) inset,
					1px 0	var(--border) inset,
					-1px 0	var(--border) inset;
}

/* CONTENT */
h1, h2, h3, h4, h5, h6 {
	margin-top:		14px; /* Same gap as the `p` spacing, where this collapses
					         anyway. But for a non-`p` predecessor, make sure
					         that we have a gap */
	clear:			both;
	color:			var(--accent);
	font-family:	"EB Garamond", "Twemoji", serif;
}

h1 { font-size: calc(var(--heading-size-multiplier)*2em); }
h2 { font-size: calc(var(--heading-size-multiplier)*1.5em); }
h3 { font-size: calc(var(--heading-size-multiplier)*1.17em); }
h4 { font-size: calc(var(--heading-size-multiplier)*1em); }
h5 { font-size: calc(var(--heading-size-multiplier)*0.83em); }
h6 { font-size: calc(var(--heading-size-multiplier)*0.67em); }

article h1 {
	font-style:	italic;
}

article h1, h2 {
	/* Make line height exclude descent (1em) then add 3px gap between text and underline: */
	line-height:	calc(1em + 5px);
	margin-bottom:	5px;
	border-bottom:	1px solid var(--accent);
	text-shadow:	0 0 4px #000c; /* Kinda looks mid when overlapping the border
					                 -bottom, so this is the best we got :/ */
}

h4, h5, h6, .subtitle {
	color:	var(--secondary);
}

.subtitle {
	font-size:	smaller;
}

/*
 * Paragraph spacing: Jekyll (thankfully) turns almost everything into `<p>`s.
 * The margin-top of .footnotes::before doesn't collapse right, hence we
 * explicitly state not to add a paragraph space before it:
 */
p:not(:last-child):not(:has(+ hr, + .footnotes)) {
	margin-bottom:	14px;
}

b:not(.subtitle b):not(a b), strong:not(a strong) {
	color:			var(--accent);
	font-weight:	800;
}

a {
	color:	var(--link);
}

u, s, del {
	text-decoration-color:	var(--accent);
}

sup, sub {
	font-size:	0.75em;
}

abbr {
	text-decoration:	dotted underline var(--accent);
	cursor:				help;
}

small {
	color:	var(--secondary);
}

code {
	padding:			0 4px;
	color:				var(--text);
	background-color:	var(--bg1);
	border:				1px solid rgb(from var(--secondary) r g b / 40%);
		border-radius:	4px;
}

small code {
	color:	var(--secondary);
}

/* Fix sup/sub from affecting this line's height: */
sup {
	vertical-align:	top;
} sub {
	vertical-align:	bottom;
}

.footnote::before {
	content:	"[";
} .footnote, .reversefootnote {
	text-decoration:	none;
} .footnote::after {
	content:	"]";
}

/* CONTENT: Block elements */
li::marker {
	color:	var(--accent);
}

hr {
	height:	3px;
	margin:	12px 0;
	border:	1px solid var(--accent);
}

code, pre { /* Jekyll's <pre>s contain <code> tags for the text, but better to
               be safe in case we ever want to manually type one in markup */
	font-family:	"DejaVu Sans Mono", "Twemoji", monospace;
}

.footnotes::before {
	content: "Reference list";
	display: block;
	column-span: all; /* Heading full width of reflist */
	
	/* Copy all the styles that apply to normal `h2`s: */
	color:			var(--accent);
	font-family:	"EB Garamond", "Twemoji", serif;
	font-size:		calc(var(--heading-size-multiplier)*1.5em);
	font-weight:	bold; /* And also this initial value */
	line-height:	calc(1em + 5px);
	margin:			14px 0 5px 0;
	border-bottom:	1px solid var(--accent);
	text-shadow:	0 0 4px #000c;
}

.footnotes {
	clear:			both;
	column-count:	2;
}

.footnotes li {
	margin-left:	1.5em; /* Looks fine for 1–99 refs */
	padding-bottom:	7px;
	font-size:		small;
	break-inside:	avoid; /* Don't chop items across columns */
}

/* FOOTER */
footer {
	margin-top:	auto; /* Sticky to bottom if body height < 100 vh */
}
