footer {
	margin-top:	auto; /* Sticky to bottom if body height < 100 vh */
}

footer > p, footer > small {
	color:			var(--secondary);
	font-family:	"DejaVu Sans Mono", "Twemoji", monospace;
	text-align:		center;
}

footer > small {
	display:	block;
	max-width:	400px;
	margin:		0 auto 1lh auto;
	font-size:	0.5em;
}

.copyleft {
	display:	inline-block;
	transform:	rotateY(180deg);
}