#badges {
	margin:		1lh 0;
	text-align:	center;
	font-size:	0.5em;
}

#badges > :hover {
	filter:	drop-shadow(1px 1px 2px var(--link));
}

.badge {
	max-width:			100%; /* Prevent overflow */
	image-rendering:	pixelated;
}