#header-pfp {
	/* Width and height set in _includes/layout.css to avoid CLS */
	margin-right:		0.25em;
	vertical-align: 	top; /* Since we match the image and text's heights */
	border-radius:		4px;
	image-rendering:	pixelated;
	cursor:				grab;
}

#header-pfp:hover {
	transform:	scale(0.9);
}

@keyframes pfp-spin {
	from	{ transform: scale(0.9) rotate(0deg); }
	to		{ transform: scale(0.9) rotate(360deg); }
}

.animating { /* #header-pfp */
	animation:	0.15s ease-in-out pfp-spin;
	cursor:		grabbing;
}