#feed-button {
	position:	absolute;
		top:	8px;
		right:	8px;
	width:		16px;
	height:		16px;
	background:	url("/media/resources/rss.png") 0 / 100%;
}

article:has(> #feed-button) h1:first-of-type {
	padding-right:	24px;
}

#article-banner + #feed-button {
	top:	16px;
	right:	16px;
	filter:	drop-shadow(0 2px 6px #000c);
}

article img {
	/* Images display weirdly (using a `font-size`d gap around them) because
	 * they're default `inline` elements. I'd rather have them be blocks and if
	 * I want to display one inline, I will manually do so case-by-case.
	 * This fixes gaps for `figure img`s etc. */
	display:		block;
	max-width:		100%;
	padding:		8px;
	border-radius:	16px; /* _Looks_ like 8px given border-radius is applied to padding */
	outline:		2px outset var(--accent);
		outline-offset:	-8px;
	cursor:			zoom-in;
}

article img:not([width]) {
	min-width:	min(200px, 100%); /* Prevent min-width overriding max-width */
}

#article-banner {
	position:	relative; /* h1 anchor */
}

#article-banner > img {
	all:	unset;

	width:			100%;
	max-height:		40vh;
	border-radius:	16px 16px 0 0;
	object-fit:		cover;
	mask-image:		linear-gradient(
						#000 40%,
						rgb(from #000 r g b / 25%) 60%,
						#0000
					);
	user-select:	none;
	pointer-events: none;
}

#article-banner-title {
	width:		100%;
	max-height:	100%; /* If for whatever reason you want a 6 page long title, you can */
	position:	absolute;
		bottom:	0;
	padding:	8px;
	overflow-y:	auto;
}

#article-banner-title > h1, #article-banner-title > #subtitle {
	text-shadow:		1px 1px 8px #000;
}

.fleft {
	float:	left;
}

.fcenter {
	margin:	0 auto;
}

.fright {
	float:	right;
}

.freset {
	clear:	both;
}

figure {
	/* Copy of `article img`'s behaviour: */
	max-width:	100%;
	padding:	8px 16px; /* Similar display to `article img:not(figure img)` */
}

figure.fleft {
	padding-left:	8px;
}

figure.fright {
	padding-right:	8px;
}

/* Unset `article img` styles and make figure images fit to their containers: */
figure > img {
	width:			100%;
	padding:		unset;
	border-radius:	8px;
	outline-offset:	unset;
}

figcaption {
	margin-top:		8px;
	text-align:		center;
	font-size:		smaller;
	color:			var(--secondary);
	line-height:	1.125;
}

.highlight, pre {
	clear:	both;
}

pre { /* syntax.css' specificity will override the properties here if applicable */
	max-height:			75vh; /* Any more lines and you get a vert. scrollbar */
	margin-bottom:		0.5lh;
	padding:			8px;
	overflow:			auto; /* Implies max-width: 100% */
	background:			linear-gradient(#0000 50%, #0001 50%)
							8px 8px / 1px 2lh local; /* 1px width is arbitrary */
		background-color:	var(--bg1);
	border:				2px outset var(--accent); /* Same as `article img` */
		border-radius:	8px;
	tab-size:			4;
}

table, mjx-container {
	overflow-x:	auto;
}

table {
	display:		inline-block; /* Allow `overflow: auto` whilst ensuring columns
					                 span to fill the table's full width */
	max-width:		100%;
	margin-right:	8px; /* For inline laid-out ones */
	word-break:		normal; /* Prevent above-defined default that allows breaking
					           words. We have the horizontal real estate */
}

table, th, td {
	border:		1px solid var(--accent);
}

th, td {
	padding:	0.1em 0.4em;
}

th {
	text-align:			center;
	background-color:	rgb(from var(--accent) r g b / 40%);
}

th[colspan] {
	font-size:		calc(var(--heading-size-multiplier)*1.17em); /* h3 size */
	font-family:	"EB Garamond", "Twemoji", serif;
}

/* This selector will apply to every second row within a table's body. For my
 * old HTML-only tables (that lack <thead> semantics), this means that the first
 * row is (usually) coloured first. Given :nth-match() hasn't been talked about
 * since 2013, we just kinda have to accept that the <tr>s with _only_ <th>s in
 * them _will_ count towards the row count for this.
 * Use your HTML5, kids. */
tbody tr:nth-of-type(even) td {
	background-color:	rgb(from var(--accent) r g b / 10%);
}

.tnum {
	text-align: right;
	font-family: "DejaVu Sans Mono", "Twemoji", monospace;
}

ol, ul {
	padding-left:	1em; /* Bodge but fine */
}

dt {
	color:			var(--accent);
	font-weight:	bold;
}

dd {
	margin-left:	4ch;
	font-style:		italic;
}

.task-list {
	list-style-type:	none;
}

::marker {
	color:	var(--accent);
}

.task-list-item-checkbox {
	/* Instead of fighting to properly remove the ::marker, just cover it: */
	position:		relative;
		left:	-1em;
	margin-right:	-0.5em; /* Adjust so text indent is right*/

	appearance:		none; /* Remove browser styles */
		border-radius:	0; /* Of course Safari doesn't respect it though */
	width:			10px; /* SVG in ::before will need updating if size changes */
	height:			10px;
	vertical-align:	middle;
	cursor:			not-allowed;

	--tint:				var(--bg1);
	background-color:	hsl(from var(--tint) h s 40%);
	box-shadow:			0 0 0 1px	#e8e8e82b,
						0 0 0 2px	#e8e8e859,
						0 0 0 3px	#e8e8e842,
						2px 2px 0.1em	#e8e8e815 inset,
						-1px -1px 0.1em	#e8e8e867 inset,
						0 0 0 3px hsl(from var(--tint) h s 25%);
}

/* Add ~0.35em such that `task-list-item`s second+ lines align with the first: */
.task-list li {
	padding-left:	0.35em;
	text-indent:	-0.35em; /* First line should be undone/outset for the checkbox */
}

/* Also, items without a checkbox at all also need their _first_ lines fixed: */
.task-list-item:not(:has(> .task-list-item-checkbox)),
.task-list-item ul:not(.task-list) {
	text-indent:		0;
	list-style-type:	"⁃";
}

.task-list-item-checkbox[checked="checked"] {
	--tint:	var(--accent);
}

.task-list-item-checkbox[checked="checked"]::before {
	content:	"";

	display:			block;
	width:				100%;
	height:				100%;
	background-color:	var(--text);
	clip-path:			path("M1.9 5.2C2.5 5.2 2.2 5.2 3.2 6.2 3.8 6.8 3.65 6.8 4.5 5.6L7 1.6C7.6.4 8.3 1 8.3 1 8.9 1.6 8.3 2.3 8 2.9L4.4 8.4S3.8 9 3.1 8.4L1.2 6.3C1.2 5.2 1.8 5.2 1.8 5.2Z");
	filter:				drop-shadow(1px 1px 2px #000);
}

/*
 * List levels: We specify using `>` because I want this cycle to reset if you
 * embedded an <ol> in an <ul>, and vice versa.
 */
ol > li > ol						{ list-style-type: lower-alpha; }
ol > li > ol > li > ol				{ list-style-type: lower-roman; }
ol > li > ol > li > ol
	> li > ol						{ list-style-type: upper-alpha; }
ol > li > ol > li > ol
	> li > ol > li > ol				{ list-style-type: upper-roman; }
ol > li > ol > li > ol
	> li > ol > li > ol > li > ol	{ list-style-type: decimal; } /* Unset for any more */
/* Browsers do the first 3 levels of <ul>s: */
ul > li > ul > li > ul
	> li > ul			{ list-style-type: "⁃  "; }
ul > li > ul > li > ul
	> li > ul > li > ul	{ list-style-type: "□  "; }
ul > li > ul > li > ul
	> li > ul > li > ul
	> li > ul			{ list-style-type: "‣  "; }
ul > li > ul > li > ul
	> li > ul > li > ul
	> li > ul > li > ul	{ list-style-type: disc; } /* Unset for any more */

hr {
	clear:	both;
	height:	3px;
	margin:	0.5lh 0;
	border:	1px solid var(--accent);
}

blockquote, aside {
	--blockquote-header-em:	calc(var(--heading-size-multiplier)*1em);

	display:			table; /* `inline-block`-like auto-sizing whilst
						          doing a pseudo-`clear: both` */
	position:			relative; /* So .callout-*::before can inherit */
	padding:			8px;
	background-color:	rgb(from var(--accent) r g b / 15%);
	border-radius:		2px 8px 8px 2px;
	border-left:		4px solid var(--accent);
}

blockquote > :first-child, aside > :first-child {
	margin-top:	unset;
}

blockquote {
	color:	var(--secondary);
}

blockquote > h2:first-child {
	all:	unset; /* Maintains Twemoji thankfully */

	color:			var(--accent);
	font-size:		var(--blockquote-header-em);
	font-weight:	bold;
}

:is(.callout-error, .callout-info, .callout-success, .callout-warning) {
	padding-left:	32px;
	color:			var(--text); /* Unset */
}

:is(.callout-error, .callout-info, .callout-success, .callout-warning)
	> :first-child::before {
	content:				"";
	width:					24px;
	/* If we leave `top: 0` and height as 100% (1lh), then we get an effective
	 * `vertical-align: middle`. This also adapts to different :first-child font
	 * sizes: */
	height:					1lh;
	position:				absolute;
		left:	8px;
	background-position:	0;
	background-size:		100%;
	background-repeat:		no-repeat;
}

.callout-error		{ --accent: #ad3e38; }
.callout-info		{ --accent: #3a58b7; }
.callout-success	{ --accent: #2e8728; }
.callout-warning	{ --accent: #e2c02c; }

.callout-error > :first-child::before	{
	background-image:	url("/media/resources/aerico/error.png");
} .callout-info > :first-child::before {
	width:				20px;
	left:				10px;
	background-image:	url("/media/resources/aerico/info.png");
} .callout-success > :first-child::before {
	background-image:	url("/media/resources/aerico/success.png");
} .callout-warning > :first-child::before {
	width:				22px;
	left:				9px;
	background-image:	url("/media/resources/aerico/warning.png");
}

aside {
	background-color:	rgb(from var(--accent) r g b / 25%);
	border:				4px dashed var(--accent);
		border-radius:	8px;
}
