.footnotes::before {
	content: "Notes/references";
	display: block;
	column-span: all; /* Heading full width of reflist */
	
	/* Copy all the styles that apply to normal `h2`s: */
	color:			var(--accent);
	font-family:	"EB Garamond", "Twemoji", serif;
	font-size:		calc(var(--heading-size-multiplier)*1.5em);
	font-weight:	bold; /* And also this initial value */
	line-height:	calc(1em + 5px);
	margin:			0.5rlh 0 5px 0;
	border-bottom:	1px solid var(--accent);
	text-shadow:	0 0 4px #000c;
}

.footnotes {
	clear:			both;
	column-count:	2;
}

.footnotes > ol {
	padding-left:	0; /* Unset global `ol, ul` style */
}

.footnotes > ol > li {
	margin-left:	1.5em; /* Looks fine for 1–99 refs */
	padding-bottom:	8px;
	font-size:		small;
	break-inside:	avoid; /* Don't chop items across columns */
}

.footnotes > ol > li:only-child {
	column-span:	all;
}