header {
	width:			calc(100% + 12px);
		max-width:	812px;
	padding:		8px 14px;
	background:		linear-gradient(rgba(from var(--bg2) r g b / 50%),
					rgba(from var(--bg1) r g b / 50%)) fixed;
	border-radius:	0;
	box-shadow:		0 -1px	#f0f0f080,
					0 -2px	#0008,
					0 1px	#0008,
					0 2px	#f0f0f080;
	
	text-align:		center;
	user-select:	none;
}

#header-title {
	/*min-height:		50px;*/
	/* Leave line-height unspecified such that img inline can inherit auto 1lh */
	font-size:		min(48px, 10cqw); /* 10cqw is arbitrary as hell */
	font-family:	"Silkscreen", monospace;
	font-weight:	normal;
	letter-spacing:	-0.15em;
	filter:			drop-shadow(2px 2px 4px #0008);
}

#header-pfp {
	/* Width and height set in _includes/layout.css to avoid CLS */
	margin-right:		0.25em;
	vertical-align: 	top; /* Since we match the image and text's heights */
	border-radius:		4px;
	image-rendering:	pixelated;
	cursor:				grab;
}

#header-pfp:hover {
	transform:	scale(0.9);
}

@keyframes pfp-spin {
	from	{ transform: scale(0.9) rotate(0deg); }
	to		{ transform: scale(0.9) rotate(360deg); }
}

.animating { /* #header-pfp */
	animation:	0.15s ease-in-out pfp-spin;
	cursor:		grabbing;
}