/*
 * AUTHOR: toydotgame
 * CREATED ON: 2023-12-17
 * V2 card CSS. Note: footer is not sticky.
 * Assumes that there is enough content at the max width of 700px
 * so that the footer is always at the bottom of the viewport.
 */

body::before { /* iOS background display hack: https://jsfiddle.net/saeokn81/ */
	content: "";
	position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
	background-image: url("/media/resources/card/background.jpg");
		background-repeat: repeat;
		background-position: center bottom;
		background-size: cover;
}

#card {
	width: 60%;
		min-width: 600px;
		max-width: 700px;
	margin: 48px auto;
	padding: 14px;
	border: 2px solid var(--acc);
		border-radius: 35px;
	background-color: color-mix(in srgb, var(--bg1), transparent 10%);
		backdrop-filter: blur(5px);
}

#pfp {
	width: 25%;
	float: left;
	margin: 0 14px 14px 0;
	border-radius: 100%;
	box-shadow: 0px 0px 14px #00000080;
	animation: out 0.2s;
		transition: transform 0.5s ease;
}

#pfp:hover {
	animation: in 0.2s;
		transform: scale(0.95);
}

@keyframes in {
	from { transform:rotate(0); }
	to { transform:rotate(360deg); }
} @keyframes out {
	from { transform:rotate(0); }
	to { transform:rotate(360deg); }
}

h1 {
	width: calc(75% - 14px);
	float: right;
	margin-bottom: 7px;
	padding: 0 7px;
	font-family: "Cookie";
	font-size: 64px;
	color: var(--acc);
	border-bottom: 1px solid var(--acc);
	white-space: nowrap;
}

h1 > sup {
	top: 14px;
	font-size: 14px;
}

#footer {
	margin: 0; /* Override main.css */
		margin-top: 14px;
	background-color: color-mix(in srgb, var(--bg1), transparent 10%);
		backdrop-filter: blur(5px);
	box-shadow: 0 0 5px 5px var(--bg1);
}

heart::before {
	content: "\2665";
}

heart { /* Heart emoji pseudo-tag */
	display: inline;
	color: #964594;
	font-family: monospace;
}

hr {
	display: block;
	width: 100%;
	margin: 5px 0;
}

h3 {
	text-align: center;
}

summary {
	display:block;
}

/* RESPONSIVE */

@media only screen and (max-width: 640px) {
	#card {
		width: calc(100% - 40px);
			min-width: 0;
		margin: 20px;
		border-radius: 20px;
	}

	#pfp {
		display: block;
		float: none;
		margin: 0 auto;
	}

	h1 {
		width: 100%;
		float: none;
		text-align: center;
		font-size: min(64px, 12vw);
	}
}

/* BUTTON STYLING - https://bt.ht/aui/ */

.button:before {
	content: "";
	position: absolute;
		width: 92%;
		height: 60%;
		left: 4%;
		top: 0;
		z-index: 1; /* Renders button shine above SVGs */
	background: linear-gradient(#ffffffbf, #ffffff00);
	border-radius: 999px;
}

.button {
	position: relative;
	display: block;
	height: 70px;
		line-height: 32px;
	margin: 7px 0;
	padding: 19px 64px;
	background: #d0d0d0;
	border: 1px solid #b8b8b8;
		border-radius: 999px;
	box-shadow: inset 0 13px 25px #1c1c1c80,
					  0 3px 5px #00000032,
					  0 10px 13px #00000019;
	cursor: pointer;
	font-size: 32px;
	text-align: center;
	transition: all ease 0.1s;
	/* main.css a[href] selector outranks specificity, so !important is needed */
	color: #1c1c1c !important;
}

.button:hover {
	box-shadow: inset 0 13px 25px var(--acc),
					  0 3px 5px #00000032,
					  0 10px 13px #00000032;
	background-color: #8e48a8;
	transform: scale(1.01);
	/* main.css a[href]:hover outranks specificity again */
	color: #e6e6e6 !important; /* Match SVG filter colour */
	text-decoration: none !important;
	text-shadow: none !important;
}

.svg {
	position: relative;
	float: left;
	height: 42px;
	top: -4px;
}

.button:hover .svg {
	filter: invert(100%) brightness(90%);
}

#pronouns {
	display: inline-block;
	margin-left: -1em;
	transform: rotate(15deg);
}

@media only screen and (max-width: 640px) {
	.button {
		padding: 19px 7.5%;
		font-size: 5vw;
		overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
	}
}
