/* 
 * AUTHOR: toydotgame
 * CREATED ON: 2023-12-16
 * Generic page CSS.
 */

:root { /* Background, accent, primary and secondary text, and link colours */
	--bg1: #2a2a2f;
	--bg2: #1c1c1c;
	--acc: #b29abb;
	--pri: #fff;
	--sec: #ccc;
	--lnk: #5865f2;
}

@font-face {
	font-family: "Cookie";
	src: url("/media/resources/fonts/Cookie-reg.ttf");
	font-display: swap;
} @font-face {
	font-family: "DM Serif Display";
	src: url("/media/resources/fonts/DM-Serif-ita.ttf");
	font-display: swap;
} @font-face {
	font-family: "Fira Mono";
	src: url("/media/resources/fonts/Fira-Mono-reg.ttf");
	font-display: swap;
} @font-face {
	font-family: "Ubuntu";
	src: url("/media/resources/fonts/UbuntuSans-var.ttf");
	font-weight: 480;
	font-display: swap;
} @font-face { /* Hack to implement more noticeable bold font */
	font-family: "Ubuntu";
	src: url("/media/resources/fonts/UbuntuSans-var.ttf");
	font-weight: 800;
	font-display: swap;
} @font-face {
	font-family: "Twemoji";
	src: url("/media/resources/fonts/Twemoji.ttf");
	font-display: swap;
}

/* GENERIC */

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Ubuntu", "Twemoji", sans-serif;
	word-wrap: break-word;
}

html {
	min-height: 100vh; /* Putting this in the body selector causes an overflow/scroll */
}

body {
	color: var(--pri);
	background-color: var(--bg1); /* Fallback */
	background-image: linear-gradient(var(--bg1), var(--bg2));
		background-size: cover;
}

hr {
	height: 3px;
	margin: 5px;
	border: 1px double var(--acc);
}

a[href] {
	color: var(--lnk);
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 3px;
}

::selection {
	color: var(--bg1);
	background-color: var(--acc);
}

ol, ul {
	padding-left: 1em;
}

li::marker {
	color: var(--acc);
}

copyleft:before {
	content: "©";
}

copyleft {
	display: inline-block;
	transform: rotateY(180deg);
}

small, figcaption {
	color: var(--sec);
}

/* NAVBAR */

#nav {
	width: 50%;
		min-width: 600px;
		max-width: 1000px; /* 1500px max-width for #content ÷ 75% #content width × 50% #nav width = 1000px */
	margin: 16px auto;
	text-align: center;
	user-select: none;
}

#nav > h1 {
	font-family: "Cookie", cursive;
	font-size: 48px;
	color: var(--acc);
}

#nav > a {
	color: var(--acc);
}

#nav > a:hover {
	color: var(--lnk);
}

#navpfp {
	position: absolute;
	left: calc((100% - 600px) / 2 + 20px); /* Sticky to the left side of the nav container */
	top: 31px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	box-shadow: 0 0 5px var(--bg1) inset;
	background-image: url("/media/resources/profile.png");
		background-size: cover;
	cursor: pointer;
}

#navpfp:active {
	transform: scale(0.95);
}

/* CONTENT */

#content {
	width: 75%;
		min-width: 600px;
		max-width: 1500px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden; /* Hack to fix if floating images exceed text length and break footer */
}

#content p, #content pre, #content code, #content td, #content blockquote {
	line-height: 20px; /* Anything that isn't a heading or small text basically */
}

#content > h1 { /* Title */
	border-bottom: 1px solid var(--acc);
	color: var(--acc);
	font-family: "DM Serif Display", "Twemoji", serif;
}

h2#subtitle { /* Subtitle */
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: normal;
	color: var(--sec);
}

h2:not(#subtitle), h3, h4, h5, h6 { /* Body headings */
	clear: both; /* Clearfix */
	font-family: "DM Serif Display", "Twemoji", serif;
	color: var(--acc);
}

h4, h5, h6 { /* Minor headings */
	color: var(--sec);
}

#content p {
	margin: 0 0 14px 0; /* 14px between paragraphs */
}

#content small {
	display: block;
	margin: 0 0 14px 0; /* Inherited from `#content p` */
} #content p > small { /* Unset for when <p> is already providing style */
	display: unset;
	margin: unset;
}

#content img:not([width]) {
	width: 100%;
}

#content img {
	margin: 5px 0;
	border: 2px solid var(--sec);
		border-radius: 10px;
	cursor: pointer; /* For image modals */
}

/* Float type margins are otherwise overridden by `#content img` specificity */
.fleft {
	float: left;
	margin-right: 2% !important; /* Close enough on a standard view to 10px, and more predictable */
} .fright {
	float: right;
	margin-left: 2% !important;
}

.fcenter {
	display: block;
	margin: 5px auto !important; /* Inherit 5px from `#content img` */
}

.freset { /* Clearfix to display below floats instead of wrapping around */
	clear: both;
}

/* Figure float margins are otherwise override by float type margins (above) */
figure.fcenter { /* Figures provide their own 5px margins */
	margin: 0 auto !important;
}

figure > img {
	margin-bottom: 0 !important; /* Overridden by `#content img` specificity */
}

figcaption {
	margin-bottom: 5px;
	text-align: center;
	font-size: smaller;
}

#content ol, #content ul {
	padding-left: 1.5em;
}

#content li {
	padding: 5px 0;
}

pre, code {
	width: 100%;
	margin-bottom: 10px; /* border-box doesn't work on these elements for some reason ∴ manual padding */
	padding: 5px;
	border: 1px solid var(--sec);
		border-radius: 10px;
	overflow-x: auto; /* Enables horiz scroll */
	background-color: var(--bg2);
	word-wrap: break-word;
	font-family: "Fira Mono", "Twemoji", monospace;
	tab-size: 4;
	-moz-tab-size: 4; /* For some reason this is the one thing Firefox ignores */
}

pre {
	background-image: linear-gradient(var(--bg2) 50%, var(--bg1) 50%);
	background-position: 0 0;
	background-size: 40px 40px;
	background-repeat: repeat;
	background-origin: content-box;
}

code {
	padding: 0 5px;
	border-radius: 5px;
	color: var(--sec);
}

a > code {
	color: var(--lnk);
}

blockquote {
	display: table;
	margin: 7px 0;
	padding: 5px 10px;
		padding-right: 1.5em;
	border-left: 5px solid var(--acc);
		border-radius: 2px 10px 10px 2px;
	background-color: color-mix(in srgb, var(--acc), transparent 90%);
	color: var(--sec);
	font-style: italic;
}

table { /* Vaguely hacky */
	display: block;
	overflow-x: auto;
}

table tbody {
	display: table;
	width: 100%;
}

table, th, td {
	border: 1px solid var(--acc);
}

th, td {
	padding: 5px;
}

th {
	text-align: center;
	background-color: color-mix(in srgb, var(--acc), transparent 60%);
}

th[colspan] {
	font-size: 18px;
	font-family: "DM Serif Display", "Twemoji", serif;
}

tr:nth-child(odd) {
	background-color: color-mix(in srgb, var(--acc), transparent 90%);
}

.tnum {
	text-align: right;
	font-family: "Fira Mono", "Twemoji", monospace;
}

sup, sub, .cite {
	position: relative;
	vertical-align: top;
}

sup, .cite {
	top: -4px;
} small sup, figcaption sup {
	top: -1px; /* 3px adjustment for smaller font */
}

sub {
	bottom: -4px;
} small sub, figcaption sub {
	bottom: -5px; /* 1 px adjustment for smaller font */
}

.cite:before {
	content: "[";
} .cite {
	font-size: smaller;
} .cite:after {
	content: "]";
}

h2.reflist {
	margin: 5px 0;
	border-bottom: 1px solid var(--acc);
}

ol.reflist {
	padding-left: 1em; /* Reset */
}

ol.reflist > li {
	padding: unset !important;
}

/* IMAGE MODAL, child of #content */

#modaldim {
	position: fixed;
	display: none;
	z-index: 1; /* Copyleft element displays above modaldim for some reason */
	padding: 5%;
	width: 100%;
	height: 100%;
		top: 0;
		left: 0;
	background-color: color-mix(in srgb, var(--bg2), transparent 10%);
		backdrop-filter: blur(5px);
	text-align: center;
}

#modalimg {
	/* Reset styles from normal imgs on the page */
	margin: 0 !important;
	border: 0 !important;
		border-radius: 0 !important;
	
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* FOOTER */

#blogfooter > #recentblogs {
	display: none; /* Don't display recent articles on the footer of the blog listing page */
}

#footer {
	margin: 16px 0;
	padding: 5px;
	text-align: center;
}

#footer > hr {
	margin: 5px 0; /* Counteract footer div padding so <hr> only has 5px between it and viewport edge */
}

#recentblogs {
	width: calc(50% + 10px);
		min-width: 600px;
		max-width: 1100px; /* #content max-width ÷ 75% #content width × (50% + 10px) #recentblogs width = 1100px */
	margin: 16px auto;
	color: var(--acc);
	text-align: left;
}

#recentblogs > h1 {
	margin-bottom: 5px;
	border-bottom: 1px solid var(--acc);
	font-family: "DM Serif Display", serif;
	font-size: 24px;
	text-align: left;
}

#recentblogs li::marker {
	color: var(--sec);
}

#footer > p {
	font-size: 12px;
	color: var(--sec);
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
	#nav {
		width: 100%;
			min-width: 0;
	}

	#navpfp {
		display: none;
	}

	#content {
		width: 100%;
			min-width: 0;
	}

	table {
		width: 100%;
	}

	#modaldim {
		padding: 0;
	}
}

/* Earlier, the width of the #recentblogs div was set by `calc(50% + 10px)`, to
 * counteract the 2x 5px padding set by its parent (the #footer div). So, to
 * make the responsive design smooth like it is with the #nav div, we have to
 * start shrinking the #recentblogs div once the viewport reaches 610px rather
 * than 600px. 
 */
@media only screen and (max-width: 610px) {
	#recentblogs {
		width: 100%;
			min-width: 0;
	}
}
