{% comment %}
	AUTHOR: toydotgame
	CREATED: 2025-10-26
	<head> tag and its children for use in the `base` and `blog` layouts.
{% endcomment %}

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} - {{ site.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/media/resources/styles/styles.css">
	{% comment %}
		The above style tag will block rendering until it is downloaded, but
		will not block further parsing of the below tags. The below script will
		induce a parser-block where it'll wait for the CSS to download before
		it can evaluate and the tags below _it_ can be parsed.
		Additionally, the `blocking="rendering"` attribute will prevent CSS
		rendering from occurring until evaluation is complete as well.
	{% endcomment %}
	<script blocking="rendering" src="/media/resources/js/random-bg.js"></script>
	
	<script type="module" src="/media/resources/js/loader.js"></script>
	<script defer src="/media/resources/js/oneko.js"
		data-cat="/media/resources/oneko.gif"></script>
	{% if page.mathjax %}
		<script>
		MathJax = {
			options: {
				enableExplorer: false,
				enableMenu: false,
				menuOptions: {
					settings: {
						enrich: false,
						speech: false,
						braille: false
					}
				}
			},
			tex: {
				inlineMath: {"[+]": [["$","$"], ["$`", "`$"]]}
			},
			svg: {
				fontCache: "global"
			}
		};
		</script>
		<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-svg.js"></script>
	{% endif %}

	{% seo title=false %}
</head>
