<!DOCTYPE html>
{% comment %}
	AUTHOR: toydotgame
	CREATED: 2025-10-21
	Generic page and blog post template for toydotgame.net v6.
{% endcomment %}
<html lang="en">
	{% include head.html %}
	<body>
		{% include nav.html %}
		{% assign aeroTitle = page.title | default: page.url %}
		{% if page.collection == "posts" %}
			{% assign aeroTitle = page.slug
				| split: "-" | join: " " | capitalize | prepend: "Blog: " %}
		{% endif %}
		<article
			data-aero-title="{{ aeroTitle | escape }}"
			style="--aero-icon:url({{ page.aero-icon
				| default: "/media/resources/aerico/info.png" }})">
			{% unless page.image == site.defaults[0].values.image %}<div
				class="banner">
				<img class="nomodal" src="{{ page.image }}">
				<div class="banner-title">{% endunless %}
			{% if page.title %}<h1>{{ page.title }}</h1>
			<p class="subtitle">
				{% if page.date %}Written: <b>{{ page.date
					| date:"%Y-%m-%d" }}</b>{% endif %}
				{% if page.date and page.updated %} · {% endif %}
				{% if page.updated %}Last updated:
					<b>{{ page.updated }}</b>{% endif %}
			</p>{% endif %}
			{% if page.image %}</div></div>{% endif %}
			{{ content }}
		</article>
		{% include footer.html %}
		<div id="modaldim" class="hidden">
			<img src="">
		</div>
	</body>
</html>
