<!DOCTYPE html>
{% comment %}
	AUTHOR: toydotgame
	CREATED: 2025-10-21
	Generic page and blog post template for toydotgame.net v6.
{% endcomment %}
<html lang="en">
	{% include head.html %}
	<body>
		{% include nav.html %}
		{% assign humanizedSlug = page.slug | split: "-" | join: " " | capitalize %}
		<article
			data-aero-title="{% if page.collection == "posts" %}Blog: {% endif %}{{ humanizedSlug | default: page.url | escape }}"
			style="--aero-icon:url({{ page.aero-icon | default: "/media/resources/aerico/info.png" }})">
			{% if page.banner %}<div class="banner">
				<img class="nomodal" src="{{ page.banner }}" /><div class="banner-title">{% endif %}
			{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
			<p class="subtitle">
				{% if page.date %}Written: <b>{{ page.date | date:"%Y-%m-%d" }}</b>{% endif %}
				{% if page.date and page.updated %} · {% endif %}
				{% if page.updated %}Last updated: <b>{{ page.updated }}</b>{% endif %}
			</p>
			{% if page.banner %}</div></div>{% endif %}
			{{ content }}
		</article>
		{% include footer.html %}
		<div id="modaldim" class="hidden">
			<img src="">
		</div>
	</body>
</html>
