<!DOCTYPE html>
{% comment %}
	AUTHOR: toydotgame
	CREATED: 2025-10-21
	Generic page and blog post template for toydotgame.net v6.
{% endcomment %}
<html>
	{% include head.html %}
	<body>
		{% include nav.html %}
		<article
			data-aero-title="{% if page.collection == "posts" %}Blog: {% endif %}{{ page.title }}"
			style="--aero-icon:url({{ page.aero-icon | default: "/media/resources/aerico/info.png" }})">
			{% if page.banner %}<div class="banner">
				<img src="{{ page.banner }}" /><div class="banner-title">{% endif %}
			<h1>{{ page.title }}</h1>
			<p class="subtitle">
				{% if page.date %}Written: <b>{{ page.date }}</b>{% endif %}
				{% if page.date and page.updated %} · {% endif %}
				{% if page.updated %}Last updated: <b>{{ page.updated }}</b>{% endif %}
			</p>
			{% if page.banner %}</div></div>{% endif %}
			{{ content }}
		</article>
		{% include footer.html %}
		<div id="modaldim" class="hidden">
			<img>
		</div>
	</body>
</html>
