<!DOCTYPE html>
<!--
	AUTHOR: toydotgame
	CREATED: 2025-10-23
	v6 blog article template.
-->
<html>
	<head>
		<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/v6-dev/styles.css">
		<title>{{ page.title }} - toydotgame.net</title>
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="toydotgame.net">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="TEMPLATE_DESC">
		<meta property="og:image" content="/media/resources/banner.png">
		<meta name="viewport" content="width=device-width">
		<script src="/media/js/contentloader.js" type="module"></script>
	</head>
	<body>
		{% include nav.html %}
		<article
			data-aero-title="{{ page.title }}"
			style="--aero-icon:url('/v6-dev/ico/book.png')">{{ content }}</article>
		{% include footer.html %}
	</body>
</html>
