---
layout: compress
---
<!DOCTYPE html>
{%- comment -%}
	AUTHOR: toydotgame
	CREATED: 2025-10-21
	Generic page and blog post template for toydotgame.net v6.
{%- endcomment -%}
<html lang="en">
	<head>
		<meta charset="UTF-8">

		{%- comment -%} Inlining truly can halve the FCP delay so… {%- endcomment -%}
		<style>{%- include layout.css -%}</style>

		<link rel="preload" href="/media/resources/js/random-bg.js" as="script"
			fetchpriority="high">
		<link rel="preload" href="/media/resources/fonts/Ubuntu Sans Variable.ttf" as="font" type="font/ttf"
			fetchpriority="high">
		<link rel="preload" href="/media/resources/fonts/DejaVu Sans Mono Regular.ttf" as="font" type="font/ttf"
			fetchpriority="high">
		<link rel="preload" href="/media/resources/fonts/DejaVu Sans Mono Bold.ttf" as="font" type="font/ttf"
			fetchpriority="high">
		<link rel="preload" href="/media/resources/fonts/EB Garamond Variable.ttf" as="font" type="font/ttf"
			fetchpriority="high">
		<link rel="preload" href="/media/resources/fonts/EB Garamond Variable Italic.ttf" as="font" type="font/ttf"
			fetchpriority="high">
		<link rel="preload" href="/media/resources/fonts/Silkscreen Regular.ttf" as="font" type="font/ttf"
			fetchpriority="high">
		<link rel="preload" href="/media/resources/js/modal.js" as="script">
		<link rel="preload" href="/media/resources/js/loader.js" as="script">
		<link rel="preload" href="/media/resources/aerico/globe.png" as="image" type="image/png">
		<link rel="preload" href="{{ page.aero-icon
			| default:"/media/resources/aerico/info.png" }}" as="image" type="image/png">
		<link rel="preload" href="/media/resources/aerico/msn.png" as="image" type="image/png">
		<link rel="preload" href="/media/resources/styles/responsive.css" as="style"
			fetchpriority="low">
		<link rel="prefetch" href="/media/resources/fonts/Twemoji.ttf" as="font" type="font/ttf"
			fetchpriority="low">
		<link rel="preload" href="/media/resources/js/oneko.js" as="script"
			fetchpriority="low">
		<link rel="preload" href="/media/resources/oneko.gif" as="image" type="image/gif"
			fetchpriority="low">
		{%- if page.mathjax -%}
			<link rel="preload" href="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"
				as="script" fetchpriority="low">
		{%- endif -%}

		{%- comment -%}
			Nasty hax to preload (defer/async) request stylesheets as if we are
			intending to later render-blocking-ly load them in a <link>
			/whatever, but instead we use the onload JS to transform the element
			inline into a <link rel="stylesheet" ...>—thereby effectively defer
			loading the CSS without render-blocking.
		{%- endcomment -%}
		<link rel="preload" href="/media/resources/styles/styles.css"
			as="style"
			onload="this.removeAttribute('onload'); this.rel='stylesheet'; this.removeAttribute('as')">

		<link rel="stylesheet" href="/media/resources/styles/responsive.css"
			media="screen and (width <= 400px)">
		<link rel="preload" href="/media/resources/styles/syntax.css"
			as="style" fetchpriority="low"
			onload="this.removeAttribute('onload'); this.rel='stylesheet'; this.removeAttribute('as')">

		<title>{{ page.title }} - {{ site.title }}</title>

		<script async src="/media/resources/js/random-bg.js"></script>
		<script defer src="/media/resources/js/modal.js"></script>
		<script type="module" src="/media/resources/js/loader.js"></script>
		<script defer src="/media/resources/js/oneko.js"
			data-cat="/media/resources/oneko.gif"></script>
		
		{%- if page.mathjax -%}
			<script>
				MathJax = {
					options: {
						enableExplorer: false,
						enableMenu: false,
						menuOptions: {
							settings: {
								enrich: false,
								speech: false,
								braille: false
							}
						}
					},
					tex: {
						inlineMath: {"[+]": [["$","$"], ["$`", "`$"]]}
					},
					svg: {
						fontCache: "global"
					}
				};
			</script>
			<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>
		{%- endif -%}

		<link rel="prefetch" href="https://raw.githubusercontent.com/toydotgame/toydotgame.net/refs/heads/visitor-count/visitor-count">
		{%- if page.url == "/status/" or page.url == "/status/all" -%}
			<link rel="prefetch" href="/media/resources/styles/status.css">
		{%- endif -%}

		{%- include head-meta-tags.html -%}
	</head>
	<body>
		{%- include nav.html -%}
		{%- assign aeroTitle = page.title | default: page.url -%}
		{%- if page.collection == "posts" -%}
			{%- assign aeroTitle = page.slug
				| split: "-" | join: " " | capitalize | prepend:"Blog: " -%}
		{%- endif -%}
		<article data-aero-title="{{ aeroTitle | escape }}" role="main"
			style="--aero-icon:url('{{ page.aero-icon
				| default:"/media/resources/aerico/info.png" }}')">
			
			{%- unless page.image == site.banner -%}
				<div id="article-banner">
					<img class="nomodal" src="{{ page.image | default:site.banner }}">
					<div id="article-banner-title">
			{%- endunless -%}

			{%- if page.title -%}
				<h1>{{ page.title }}</h1>
				{%- if page.date or page.updated -%}
					<p id="subtitle">
						{%- if page.date -%}
							Written: <b>{{ page.date | date:"%Y-%m-%d" }}</b>
						{%- endif -%}
						{%- if page.date and page.updated %} · {% endif -%}
						{%- if page.updated -%}
							Last updated: <b>{{ page.updated }}</b>
						{%- endif -%}
					</p>
				{%- endif -%}
			{%- endif -%}

			{%- unless page.image == site.banner -%}
					</div>
				</div>
			{%- endunless -%}

			{%- if page.collection == "posts" or page.url == "/blog/"
				or page.url == "/formatting.html" -%}
				<a id="feed-button" href="{{ site.feed.path }}" target="_blank"
					title="Subscribe via Atom!"
					aria-label="Blog post Atom feed subscribe button"></a>
			{%- endif -%}

			{{ content }}
		</article>
		{%- include footer.html -%}
		<div id="modaldim" class="hidden" role="dialog">
			<img id="modalimg" src="">
		</div>
	</body>
</html>
