---
layout: compress
---
<!DOCTYPE html>
{%- comment -%}
	AUTHOR: toydotgame
	CREATED: 2025-10-21
	Generic page and blog post template for toydotgame.net v6.
{%- endcomment -%}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="preload" href="/media/resources/styles/styles.css" as="style">
		<link rel="preload" href="/media/resources/styles/responsive.css" as="style">
		<link rel="preload" href="/media/resources/js/random-bg.js" as="script">
		<link rel="modulepreload" href="/media/resources/js/loader.js">
		<link rel="modulepreload" href="/media/resources/js/modal.js">
		{%- if page.mathjax -%}
			<link rel="preload" href="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"
				as="script">
		{%- endif -%}
		<link rel="preload" href="/media/resources/js/oneko.js" as="script"
			fetchpriority="low">
		<link rel="preload" href="/media/resources/oneko.gif" as="image" type="image/gif"
			fetchpriority="low">

		<title>{{ page.title }} - {{ site.title }}</title>

		<link rel="preload" href="/media/resources/styles/syntax.css" as="style"
			onload="this.removeAttribute('onload'); this.rel='stylesheet'; this.removeAttribute('as')">
		<link rel="stylesheet" href="/media/resources/styles/styles.css">
		<link rel="stylesheet" href="/media/resources/styles/responsive.css"
			media="screen and (width <= 400px)">
		<script async src="/media/resources/js/random-bg.js"></script>
		
		<script type="module" src="/media/resources/js/loader.js"></script>
		<script defer src="/media/resources/js/oneko.js"
			data-cat="/media/resources/oneko.gif"></script>
		
		{%- if page.mathjax -%}
			<script>
				MathJax = {
					options: {
						enableExplorer: false,
						enableMenu: false,
						menuOptions: {
							settings: {
								enrich: false,
								speech: false,
								braille: false
							}
						}
					},
					tex: {
						inlineMath: {"[+]": [["$","$"], ["$`", "`$"]]}
					},
					svg: {
						fontCache: "global"
					}
				};
			</script>
			<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>
		{%- endif -%}
		{%- include head-meta-tags.html -%}
	</head>
	<body>
		{%- include nav.html -%}
		{%- assign aeroTitle = page.title | default: page.url -%}
		{%- if page.collection == "posts" -%}
			{%- assign aeroTitle = page.slug
				| split: "-" | join: " " | capitalize | prepend:"Blog: " -%}
		{%- endif -%}
		<article data-aero-title="{{ aeroTitle | escape }}" role="main"
			style="--aero-icon:url('{{ page.aero-icon
				| default:"/media/resources/aerico/info.webp" }}')">
			
			{%- unless page.image == site.banner -%}
				<div id="article-banner">
					<img class="nomodal" src="{{ page.image | default:site.banner }}">
					<div id="article-banner-title">
			{%- endunless -%}

			{%- if page.title -%}
				<h1>{{ page.title }}</h1>
				{%- if page.date or page.updated -%}
					<p id="subtitle">
						{%- if page.date -%}
							Written: <b>{{ page.date | date:"%Y-%m-%d" }}</b>
						{%- endif -%}
						{%- if page.date and page.updated %} · {% endif -%}
						{%- if page.updated -%}
							Last updated: <b>{{ page.updated }}</b>
						{%- endif -%}
					</p>
				{%- endif -%}
			{%- endif -%}

			{%- unless page.image == site.banner -%}
					</div>
				</div>
			{%- endunless -%}

			{%- if page.collection == "posts" or page.url == "/blog/"
				or page.url == "/formatting.html" -%}
				<a id="feed-button" href="{{ site.feed.path }}" target="_blank"
					title="Subscribe via Atom!"
					aria-label="Blog post Atom feed subscribe button"></a>
			{%- endif -%}

			{{ content }}
		</article>
		{%- include footer.html -%}
		<div id="modaldim" class="hidden" role="dialog">
			<img id="modalimg" src="">
		</div>
	</body>
</html>
